flows.json
[{"id":"5b10d9ab.c68318","type":"inject","z":"ac10ff0b.0cde7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":66,"y":112,"wires":[["f91671a3.e528d"]]},{"id":"a62bad7.a85f15","type":"debug","z":"ac10ff0b.0cde7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":715,"y":349,"wires":[]},{"id":"f91671a3.e528d","type":"function","z":"ac10ff0b.0cde7","name":"Token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"152e43d4-5791-4b26-80f6-3a36808e868f\"\nvar password=\"371c8107-9d28-4dce-aceb-b808d1e68d28\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"GRE\",msg.payload.GRE)\nglobal.set(\"TOFEL\",msg.payload.TOFEL)\nglobal.set(\"CGPA\",msg.payload.CGPA)\nreturn msg;","outputs":1,"noerr":0,"x":266,"y":233,"wires":[["674a1365.5fc39c"]]},{"id":"74447175.acc9f","type":"http request","z":"ac10ff0b.0cde7","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/99f500cd-e516-43db-8384-6d42b4cb0890/deployments/0203efdf-acbb-4cef-bd04-0c9f550cfb8a/online","tls":"","proxy":"","authType":"basic","x":289,"y":29,"wires":[["3d59db60.ec51d4","d629890d.bec3a8"]]},{"id":"997747f5.48abe8","type":"function","z":"ac10ff0b.0cde7","name":"prediction","func":"var token=msg.payload.token;\nvar GRE=global.get(\"GRE\")\nvar TOFEL=global.get(\"TOFEL\")\nvar CGPA=global.get(\"CGPA\")\nmsg.payload={\"fields\":[\"GRE\",\"TOFEL\",\"CGPA\"],\"values\":[[GRE,TOFEL,CGPA]]};\nmsg.headers={\"Authorization\": \"Bearer \"+token}\nreturn msg;\n","outputs":1,"noerr":0,"x":333,"y":128,"wires":[["74447175.acc9f"]]},{"id":"674a1365.5fc39c","type":"http request","z":"ac10ff0b.0cde7","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":461,"y":281,"wires":[["a62bad7.a85f15","997747f5.48abe8"]]},{"id":"3d59db60.ec51d4","type":"function","z":"ac10ff0b.0cde7","name":"output passing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":575,"y":36,"wires":[["b2c11fcb.abe35"]]},{"id":"d629890d.bec3a8","type":"debug","z":"ac10ff0b.0cde7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":757.0000076293945,"y":241.00000381469727,"wires":[]},{"id":"e6537e67.c25cb","type":"ui_form","z":"ac10ff0b.0cde7","name":"","label":"","group":"4924ca1e.14fa94","order":0,"width":0,"height":0,"options":[{"label":"GRE Score","value":"GRE","type":"number","required":true},{"label":"TOFEL Score","value":"TOFEL","type":"number","required":true},{"label":"CGPA","value":"CGPA","type":"number","required":true}],"formValue":{"GRE":"","TOFEL":"","CGPA":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":117,"y":329,"wires":[["f91671a3.e528d","9cba8af3.dea108"]]},{"id":"b2c11fcb.abe35","type":"ui_text","z":"ac10ff0b.0cde7","group":"4924ca1e.14fa94","order":2,"width":0,"height":0,"name":"","label":"chance","format":"{{msg.payload}}","layout":"row-spread","x":755.0000076293945,"y":161.00000190734863,"wires":[]},{"id":"9cba8af3.dea108","type":"ui_text","z":"ac10ff0b.0cde7","group":"4924ca1e.14fa94","order":0,"width":"0","height":"0","name":"","label":"userinput","format":"{{msg.payload.GRE,msg.payload.TOFEL,msg.payload.CGPA}}","layout":"row-spread","x":289,"y":403.0000057220459,"wires":[]},{"id":"4924ca1e.14fa94","type":"ui_group","z":"","name":"Graduate Admission Prediction","tab":"5a960c3b.b22c14","disp":true,"width":"6","collapse":false},{"id":"5a960c3b.b22c14","type":"ui_tab","z":"","name":"home","icon":"dashboard","disabled":false,"hidden":false}]